
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>H5Test</title>
</head>
<body>
    <form>
        姓名<input type="text" placeholder="请输入姓名" />
        性别<input type="text" placeholder="请输入性别" />

        清空<input type="reset" />
    </form>


    <script type="text/javascript">
        var allprice = 0;
        allprice =parseFloat(allprice)+ (parseFloat(208) * parseInt(2));
        alert(allprice.toFixed(2));

    </script>
</body>



</html>
