
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div id="test1">
    <input type="radio" name="radio1" value="1" />
    <input type="radio" name="radio1" value="2" />
</div>

<div id="test2">
    <input type="radio" name="radio1" value="3" />
    <input type="radio" name="radio1" value="4" />
</div>



<div style="width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:30px;">哈哈哈哈啊啊啊啊看见啊送到附近</div>
<script type="text/javascript">

</script>


