
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div> 

        23124142123
    </div>
    <script type="text/javascript">
        !function test() {
            alert('123');
        }
    </script>
</body>
</html>
