
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>H5Test</title>
</head>
<body>
<form>
    姓名<input type="text" />
    性别<input type="text" />

    清空<input type="reset" />
</form>
</body>
</html>
